.select-wrap {
  position: relative;
  &:after {
    content: '';
    z-index: 1;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('../i/icons/caret.svg');
    background-position: center;
    background-size: cover;
    width: 8px;
    height: 4px;
    transition: 0.3s ease-in-out;
  }
  &.--active {
    &:after {
      transform: rotate(180deg);
    }
  }
  &__option {
    background-color: transparent;
    cursor: pointer;
    width: fit-content;
    display: block;
    padding: 0 10px 0 0;
    border: none;
    font-family: $main-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $secondary;
    &:hover {
      color: $orange;
    }
  }
  &__dropdown {
    position: absolute;
    top: 100%;
    background-color: $white;
    width: fit-content;
    border: 1px solid $border;
    padding: 10px 12px;
    .select-wrap__option {
      padding-right: 0;
    }
  }
  select {
    //cursor: pointer;
    //width: fit-content;
    //padding: 0 8px 0 0;
    //border: none;
    //font-family: $main-font;
    //font-weight: 400;
    //font-size: 16px;
    //line-height: 150%;
    @include r(1000){
      font-size: 14px;
    }
  }

}