// Colors
$white: var(--white);
$black: var(--black);
$dark: var(--dark);
$secondary: var(--secondary);
$orange: var(--orange);
$border: var(--border);
$gray1: var(--gray1);
$bg: var(--bg);
$invert-bg: var(--invert-bg);

$main-font: 'Commissioner', sans-serif;


